@layer theme, components, utilities;

@import "tailwindcss/utilities.css" layer(utilities);

@theme {
  --font-sans: sans-serif;
  --font-mono: monospace;
  --color-blue-500: oklch(62.3% 0.214 259.815);
  --color-blue-700: oklch(48.8% 0.243 264.376);
  --color-gray-200: oklch(92.8% 0.006 264.531);
  --color-gray-300: oklch(87.2% 0.01 258.338);
  --color-gray-600: oklch(44.6% 0.03 256.802);
  --color-gray-700: oklch(37.3% 0.034 259.733);
  --spacing: 0.25rem;
  --leading-normal: 1.5;
  --radius-3xl: 1.5rem;
  --default-font-family: var(--font-sans);
  --default-mono-font-family: var(--font-mono);
}

html,
body {
  min-height: 100%;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

body {
  font-family: sans-serif;
  margin: 0;
}

.floway-gradient-background {
  min-height: 100vh;
  background: #f3f3f3 radial-gradient(#eff4f9 75%, #f3f3f3 100%) no-repeat
    fixed;
}

@media (prefers-color-scheme: dark) {
  .floway-gradient-background {
    background: #202020 radial-gradient(#1a1f35 25%, #202020 100%) no-repeat
      fixed;
  }
}
